<!DOCTYPE html>
<html lang="en">
    <!-- head태그는 페이지에 설정, 외부 파일 로드, 이벤트 등을 기입 -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .a {
                font-size: 30px;
            }
            .b {
                color: red;
            }
            #c { 
                background-color: yellow
            }
        </style>
    </head>
    <!-- body 태그가 웹브라우저에서 보이는 부분 -->
    <body>
        <!-- div태그 : 빈 영역 생성 -->
        <div id="c">
            <!-- h태그 : 제목 태그(굵은 글씨, 사이즈 업) -->
            <h1 class="b">
                index Page
            </h1>
            <!-- p태그 : 글의 문단 태그 -->
            <p class="a">
                (서울=연합뉴스) 이도연 기자 = 이스라엘이 팔레스타인 하마스를 상대로 예고한 가자지구 지상전에 수만 명의 병력을 투입해 2006년 레바논 전쟁 이후 최대 규모의 침공에 나설 것이라고 뉴욕타임스(NYT)가 14일(현지시간) 보도했다.<br>
                <!-- br태그 : 줄 바꿈 태그 -->
                복수의 이스라엘군 장교들은 이번 지상전에 군인 수만 명이 투입되며, 지난 7일 이스라엘 기습 공격을 주도한 팔레스타인 무장 정파 하마스의 지도부를 제거하는 것이 목표라고 NYT에 밝혔다.
            </p>
            <p class='a b'>
                이번 군사 작전은 이스라엘이 앞서 레바논 무장정파 헤즈볼라가 자국 병사를 납치한 것에 대응해 레바논을 침공했던 2006년 이후 최대 규모가 될 것으로 예상된다.
            </p>
        </div>
    </body>
</html>